@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif !important;
} /* to remove the extra white space of the whole page*/
input{
    height: 45px !important;
    border: 1px solid #b9b9b9 !important;
}
input:focus{
    outline: none !important;
    border: 1px solid #747474 !important;
    box-shadow: none !important;

}
button{
    height: 45px !important;
}